[Desktop Entry]
Name=Public IP
Comment=COSMIC applet that displays your external IP address
Type=Application
Icon=com.github.derekkddj.cosmic-applet-publicip
Exec=cosmic-applet-publicip %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
